body{
    background-color: rgb(35, 44, 49);
    color: white;
    font-family: 'Scada', sans-serif;
    margin: 65px 0 0 0;
}


a{
  color: inherit; 
  text-decoration: none;
}

header{
  margin: 0 auto;
  width: 600px;
  
}

#logo{
  width: 160px;
  box-shadow: 2px 2px 20px 0 black;
}

#header-text{
  float: right;
  text-align: right;  
}


#my-name{
  font-family: "Sarala", sans-serif;
  font-size: 36px;
  text-shadow: 2px 2px 30px rgba(255, 255, 255, 0.3);
  margin: 35px 0 0 0;
  line-height: 40px;
}


.console-title{
  font-family: 'VT323', monospace;
  font-size: 24px;
  margin: 10px 0;
}

#string-console{ color: rgb(0, 160, 160); }

#string-argumento{ color: rgb(214, 157, 133); }






main{ 
  margin: 50px auto 190px auto; 
  width: 900px;
  
}

#my-description{
  font-size: 18px;
  text-align: justify;
  width: 575px;
  display: inline-block;
}

#my-description p{ text-indent: 50px; }

#my-description ul{
  width: 130px;
  display: inline-block;
}






.portfolio {
  font-size: 17px;
  margin: 100px 0;

}

.titulo-secao{
  margin: 0 auto;
  width: 600px;
  background-color: rgb(0, 160, 160);
  border-radius: 2px;
}

.portfolio h2{
  font-size: 22px;
  text-transform: uppercase; 
  letter-spacing: 5px;
  text-align: center;
  
  /*border: 3px solid white;*/
  /*color: black;*/
  padding: 2px 0;
  box-shadow: 0 1px 10px 0 black;

}

.prints{
  margin-bottom: 60px;
  text-align: center;
  
   
  
}

.sobre-projeto{
  
  margin: 50px 0;
} 

.prints img{ width: 400px; }

.primeiro-print{ margin-right: 20px; }

.titulo-projeto{
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  margin: 70px 0;
  padding: 2px 12px;
  color: black;
  background-color: white ;
  margin-bottom: 0;
  /*border-radius: 2px;*/
}

.descricao-projeto { 
  text-align: justify; 
  border-left: 1px solid rgb(0, 160, 160) ; 
  padding-left: 40px;

}

.descricao-projeto p{ text-indent: 50px; }

.btn-abrir-projeto a {
  font-size: 14px;
  text-transform: lowercase;
  padding: 0 8px;
  color: white;
  background-color: #00a4d3; 

}

/*.portfolio .console-title{
  text-align: center;
  font-size: 30px;
  background-color: white;
  color: black;
}*/






#box-find-me{
  width: 210px; 
  margin-top: 80px;
  float: right;
}

#im-here-content{ margin-bottom: 20px; }

.title-bar{
    font-size: 14px;
    text-align: center;
    box-shadow: 0 1px 10px 0 black;
    padding: 3px 0;
    width: 210px;
    border-radius: 2px;
}

#box-find-me img{
  width: 32px;
  transition: .15s linear;
}

#specifc-thing-content img{ width: 24px; }

#im-here-bar { background-color: rgb(112, 48, 160); }

#social-networks { text-align: center; }

#social-networks img:hover{ opacity: .8; }

#linkedin{ margin: 0 8px 0 8px; }

#specifc-thing-bar { background-color: #19ADD7; }

#direct-contacts img {
  float: left;
  margin-left: 28px;
  margin-right: 15px;
}

#direct-contacts div{ margin-bottom: 15px; }

#direct-contacts p{ 
  font-size: 14px; 
  font-style: italic; 
  padding-top: 2px; 
}


section h1{
  background-color: #FF3366;
  border-radius: 2px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  display: inline-block;
}


footer{
  background-color: rgb(112, 48, 160);
  padding: 4px 0;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  border-radius: 1px;
}

footer p{ 
  font-size: 12px;
  margin: 0;
}

