body{
    background-color: rgb(35, 44, 49);
    color: white;
    font-family: 'Scada', sans-serif;
    margin: 65px 0 0 0;
}


a{
  color: inherit; 
  text-decoration: none;
}

header{
  margin: 0 auto;
  width: 600px;
  
}

#logo{
  width: 160px;
  box-shadow: 2px 2px 20px 0 black;
}

#header-text{
  float: right;
  text-align: right;  
}


#my-name{
  font-family: "Sarala", sans-serif;
  font-size: 36px;
  text-shadow: 2px 2px 30px rgba(255, 255, 255, 0.3);
  margin: 35px 0 0 0;
  line-height: 40px;
}


#greeting{
  font-family: 'VT323', monospace;
  font-size: 24px;
  margin: 10px 0;
}

#string-console{ color: rgb(0, 160, 160); }

#string-ola-borboleta{ color: rgb(214, 157, 133); }






main{ 
  margin: 50px auto 190px auto; 
  width: 900px;
  
}

#my-description{
  font-size: 18px;
  text-align: justify;
  width: 575px;
  display: inline-block;
}

#my-description p{ text-indent: 50px; }

#my-description ul{
  width: 130px;
  display: inline-block;
}






.portfolio {
  font-size: 17px;
  margin: 100px 0;
}


.portfolio h2{
  font-size: 24px;
  text-transform: uppercase; 
  word-spacing: 20px;
  text-align: center;
  background-color: rgb(0, 160, 160);
  box-shadow: 0 1px 10px 0 black;
}

.prints{
  margin: 60px 0;
  text-align: center;
}

.prints img{ width: 400px; }

.primeiro-print{ margin-right: 20px; }

.titulo-projeto{
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  margin-top: 70px;
  padding: 0 12px;
  color: rgb(35, 44, 49);
  background-color: white;
  margin-bottom: 0;
}

.descricao-projeto { text-align: justify;}
.descricao-projeto p{ text-indent: 50px; }

.btn-abrir-projeto a {
  font-size: 14px;
  text-transform: lowercase;
  padding: 0 8px;
  color: white;
  background-color: #19ADD7;
}








#box-find-me{
  width: 210px; 
  margin-top: 80px;
  float: right;
}

#im-here-content{ margin-bottom: 20px; }

.title-bar{
    font-size: 14px;
    text-align: center;
    box-shadow: 0 1px 10px 0 black;
    padding: 3px 0;
    width: 210px;
    border-radius: 2px;
}

#box-find-me img{
  width: 32px;
  transition: .15s linear;
}

#specifc-thing-content img{ width: 24px; }

#im-here-bar { background-color: rgb(112, 48, 160); }

#social-networks { text-align: center; }

#social-networks img:hover{ opacity: .8; }

#linkedin{ margin: 0 8px 0 8px; }

#specifc-thing-bar { background-color: #19ADD7; }

#direct-contacts img {
  float: left;
  margin-left: 28px;
  margin-right: 15px;
}

#direct-contacts div{ margin-bottom: 15px; }

#direct-contacts p{ 
  font-size: 14px; 
  font-style: italic; 
  padding-top: 2px; 
}


section h1{
  background-color: #FF3366;
  border-radius: 2px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 10px;
  display: inline-block;
}


footer{
  background-color: rgb(112, 173, 71);
  padding: 4px 0;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  border-radius: 1px;
}

footer p{ 
  font-size: 12px;
  margin: 0;
}

